<div class='row'>
  <div class='col-md-4'>
    <pm-product-list 
      [errorMessage]='errorMessage$ | async'
      [products]='products$ | async'
      [displayCode]='displayCode$ | async'
      [selectedProduct]='selectedProduct$ | async'
      (initializeNewProduct)='newProduct()'
      (selected)='productSelected($event)'
      (checked)='checkChanged($event)'
    ></pm-product-list>
  </div>
  <div class='col-md-8'>
    <pm-product-edit
      [errorMessage]='errorMessage$ | async'
      [selectedProduct]='selectedProduct$ | async'
      (create)='createProduct($event)'
      (update)='updateProduct($event)'
      (delete)='deleteProduct($event)'
      (clearCurrent)='clearCurrentProduct()'
    ></pm-product-edit>
  </div>
</div>